<div class="row">
  <div class="col-md-3">
    <%= image_tag "http://res.cloudinary.com/veranikaisakova/image/upload/c_scale,w_260/v1511036256/5LByzfmdiwU_ydzyik.jpg" %>
  </div>

  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        All arists
      </div>
      <div class="panel-body">

        <% @artists.each do |artist| %>
        <div class="row">
          <div class="col-md-7">
            <h4><%= link_to artist.name, artist_path(artist.id) %></h4>
          </div>

        </div>
        <% end %>

      </div>
    </div>

  </div>

</div>
