<div class="row">

  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        All arists
      </div>
      <div class="panel-body">

        <% @artists.each do |artist| %>
        <div class="row">
          <div class="col-md-7">
            <h4><%= link_to artist.name, artist_path(artist.id) %></h4>
          </div>

        </div>
        <% end %>

      </div>
    </div>

  </div>

</div>
